@font-face{
	font-family: Myriad;
	src: url("fonts/Myriad-Pro_31655.ttf");
}
.new-announcement{
	margin-left: 10px;
}
.announcement-container{
	width: 100%;
	margin-top: 20px;
	background-color: #fff;
	box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}
.announcement-heading > img{
	display: inline-block;
}
.heading-text{
	display: inline-block;
	margin-left: 20px;
	position: relative;
	top: 10px;
}
.announcement-image{
	width: 80px;
	height: 80px;
}
.heading-button{
	margin-top: 10px;
}
.edit-button{
	float: right;
	margin-right: 10px;
	padding: 6px 25px;
}
.delete-button{
	float: right;
	margin-right: 5px;
	padding: 6px 18px;
}
.announcement-footer{
	padding: 20px 20px;
	margin-top: -20px;
}
.read-tag{
	float: right;
}